In [1]:
import pandas as pd

In [3]:
harvard_df = pd.read_csv("./data/harvard/amazon-purchases.csv")
harvard_asins = harvard_df["ASIN/ISBN (Product Code)"].drop_duplicates()

# Save the unique ASINs to a new CSV file
harvard_asins.to_pickle("./data/pfw/unique_harvard_asins.pkl")

print("Unique ASINs have been written to 'unique_harvard_asins.pkl'.")

Unique ASINs have been written to 'unique_harvard_asins.pkl'.

In [4]:
ucsd_df = pd.read_csv('./data/ucsd/Books.csv')
ucsd_asins = ucsd_df['parent_asin'].drop_duplicates()

# Save the unique ASINs to a new CSV file
ucsd_asins.to_pickle('./data/pfw/unique_ucsd_asins.pkl')
print("Unique ASINs have been written to 'unique_ucsd_asins.pkl'.")

Unique ASINs have been written to 'unique_ucsd_asins.pkl'.

In [9]:
# Load the data
harvard_asins = pd.read_pickle('./data/pfw/unique_harvard_asins.pkl')
ucsd_asins = pd.read_pickle('./data/pfw/unique_ucsd_asins.pkl')

# Ensure the data is in DataFrame format
if isinstance(harvard_asins, pd.Series):
    harvard_asins = harvard_asins.to_frame()
if isinstance(ucsd_asins, pd.Series):
    ucsd_asins = ucsd_asins.to_frame()

# Rename the first column to 'asin'
harvard_asins.rename(columns={harvard_asins.columns[0]: 'asin'}, inplace=True)
ucsd_asins.rename(columns={ucsd_asins.columns[0]: 'asin'}, inplace=True)

# Add the 'source' column
harvard_asins['source'] = 'harvard'
ucsd_asins['source'] = 'ucsd'

# Combine the DataFrames
all_asins = pd.concat([harvard_asins, ucsd_asins])

# Remove duplicates based on the 'asin' column
unique_asins = all_asins.drop_duplicates(subset='asin').copy()

# Add the 'is_reviewed' column and set all values to 0
unique_asins['is_reviewed'] = 0

# Save the result to a new pkl file
unique_asins.to_pickle('./data/pfw/combined_unique_asins.pkl')

print("Combined unique ASINs have been written to 'combined_unique_asins.pkl'.")

Combined unique ASINs have been written to 'combined_unique_asins.pkl'.

         asin   source  is_reviewed
0  B0143RTB1E  harvard            0
1  B01MA1MJ6H  harvard            0
2  B078JZTFN3  harvard            0
3  B06XWF9HML  harvard            0
4  B00837ZOI0  harvard            0

In [11]:
unique_asins.tail()

                asin source  is_reviewed
28977252  1853672831   ucsd            0
28977399  0764120964   ucsd            0
29017781  0071455531   ucsd            0
29089791  0609806483   ucsd            0
29113822  0596514522   ucsd            0